.list-group {
    padding-left: 20%;
    padding-bottom: 20px;
    padding-right: 20%;
}

[class="py-2 d-none d-md-inline-block"]:link, [class="py-2 d-none d-md-inline-block"]:visited {
    color: white;
}

[class="py-2 d-none d-md-inline-block"]:hover, [class="py-2 d-none d-md-inline-block"]:active {
    color: white;
}

.filter-container{
    margin-left: 60%;
    margin-bottom: 10px;
    margin-right: 21%;
}
