body {
  font-family: 'Raleway', serif !important;
}

.list-group {
    padding-left: 20%;
    padding-bottom: 20px;
    padding-right: 20%;
}

[class="py-2 d-none d-md-inline-block"]:link, [class="py-2 d-none d-md-inline-block"]:visited {
    color: white;
}

[class="py-2 d-none d-md-inline-block"]:hover, [class="py-2 d-none d-md-inline-block"]:active {
    color: white;
}

.filter-container{
    margin-left: 60%;
    margin-bottom: 10px;
    margin-right: 21%;
}

.checked {
    color: orange;
}

.small{
    color: gray;
    font-size: smaller;
}


#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
  }
  
  #form p {
    text-align: center;
  }
  
  #form label {
    font-size: 40px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  p>label {
    color: grey;
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
  p>label:hover,
  p>label:hover ~ label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ label {
    color: orange;
  }


  .productRel {
    border-style: solid;
    border-color: rgb(218, 217, 217);
    border-radius: 5px;
    border-width: thin;
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding: 5px;
  }

  .imgRel {
    width: 100%;
    height: auto;
  }

  .enlaceRel {
    border-width: 50%;
  }

  .descripRel {
    color: black;
    text-align: center;
  }